/* ----------------- Media Query ------------------- */


@media screen and (max-width: 961px) {

/* ----------------- Header------------------- */ 
    nav {
        display: none;
    }

    #hamburger {
        display: block;
        height: 2vw;
        width: 2vw;
    }

/* ----------------- Actus ------------------- */
    .actu-container{
        flex-direction: column;
        align-items: center;
    }
    
    span.date {
        top: 0%;
        left: 0%;
    }
    
    .left-section, .right-section {
        margin:0;
    }
    
    .left-section {
        margin-bottom: 30px;
    }
    
    .right-section h3 {
    text-align: center;
    }
    
    .right-section p {
        width: 65%;
    }

    }