/* ----------------- Media Query ------------------- */


@media screen and (max-width: 961px) {

/* ----------------- Header------------------- */ 
    #global_header {
        background-color: white;
        position: fixed;
        width: 100%;
        padding: 15px 0;
    }
    #global_header nav {
        display: none;
    }

    #hamburger {
        display: flex;
    }
    .logo {
        width: 10%;
    }

    .align-menu {
        display: flex;
        justify-content: flex-start;
    }
/* ----------------- Burger Menu------------------- */ 
    #responsive_menu {
        position: fixed;
        height: 100%;
        width: 18%;
        background-color: black;
        margin-top: 73px;
    }
    #responsive_menu nav {
 
    }
    #responsive_menu nav ul {
        list-style: none;
        padding: 0;
        width: 100%;
    }
    #responsive_menu nav ul li {
        border: 1px solid black;
        margin-bottom: 4px;
        padding: 5px 10px;
        background-color: #8DB54B;
    }
    #responsive_menu nav ul li a {
        text-decoration: none;
        text-transform: uppercase;
        color: white;

    }
/* ----------------- Actus ------------------- */
    .actu-container{
        flex-direction: column;
        align-items: center;
    }
    
    span.date {
        top: 0%;
        left: 0%;
    }
    
    .left-section, .right-section {
        margin:0;
    }
    
    .left-section {
        margin-bottom: 30px;
    }
    
    .right-section h3 {
    text-align: center;
    }
    
    .right-section p {
        width: 65%;
    }

    }