
header, nav {
    display: flex;
    justify-content: space-between;

}

nav {
    width: 30%;
}

ul {
    padding: 0;
}
.logo {
    width: 60%;
}

button {
    background-color: #8DB54B;
    border-radius: 15px;
    padding: 5px 8px;
    margin: 10px;
}

.carousel {
    color: #8DB54B;
    height: 350px;
    margin: auto;
    background-image: url(Images/carousel.png);
}

}

h1 {
    font-size: 100px;
    padding: 6px;
}

h2 {
    text-transform: uppercase;
}

.green {
    color: #8DB54B;
}

.campus {
    text-align: center;
}

.espcampus {

    display: flex;
    justify-content: center;

}

.bloccampus {
    width: 250px;
    margin: 20px;
    text-align: center;
}

.h3campus {
    height: 50px;
}


